<!-- src/app/app.component.html -->

<!-- Navbar en la parte superior -->
<nav id="barra" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="LogoACC.png" alt="Logo de GeoPortal"  width="100">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      

  

    
    </ul>
  </div>
</nav>

<!-- Componente del Mapa debajo de la navbar -->
<app-map></app-map>
